<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
  </head>
  <body>
    <h1>From the Genre New Page</h1>

    <form action="/genres" method="post">
      <input type="text" name="genre[name]" value="">
      <input type="submit" value="Create Genre">
    </form>
  </body>
</html>
